In [1]:
# Python SQL toolkit and Object Relational Mapper
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine, inspect, func, MetaData
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [2]:
# Create a reference the CSV file desired
csv_path_m = "Resources/clean_hawaii_measurements.csv"
csv_path_s = "Resources/hawaii_stations.csv"

# Read the CSV into a Pandas DataFrame
df_measure = pd.read_csv(csv_path_m, dtype=object)
df_station = pd.read_csv(csv_path_s, dtype=object)

# Print the first five rows of measurement data to the screen
df_measure.head()

       station        date  prcp tobs
0  USC00519397  2010-01-01  0.08   65
1  USC00519397  2010-01-02   0.0   63
2  USC00519397  2010-01-03   0.0   74
3  USC00519397  2010-01-04   0.0   76
4  USC00519397  2010-01-07  0.06   70

In [3]:
df_station.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [4]:
# Create an engine to a SQLite database file called `customers.sqlite`
engine = create_engine("sqlite:///hawaii.sqlite")

# Create a connection to the engine called `conn`
conn = engine.connect()

In [5]:
Base = declarative_base()

class Station(Base):
    __tablename__ = 'stations'
    
    id = Column(Integer, primary_key=True)
    station = Column(Text)
    name = Column(Text)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
   
    def __repr__(self):
        return f"id={self.id}, name={self.name}"
# More on __repr__: https://stackoverflow.com/questions/1984162/purpose-of-pythons-repr

In [6]:
class Measurement(Base):
    __tablename__ = 'measurements'
    
    id = Column(Integer, primary_key=True)
    station = Column(Text)
    date = Column(Text)
    prcp = Column(Float)
    tobs = Column(Integer)
   
    def __repr__(self):
        return f"id={self.id}, name={self.name}"
# More on __repr__: https://stackoverflow.com/questions/1984162/purpose-of-pythons-repr

In [7]:
# Use `create_all` to create the 'measurements' and 'stations' tables in the database
Base.metadata.create_all(engine)

In [8]:
# Use Orient='records' to create a list of data to write

data_measure = df_measure.to_dict(orient='records')
data_station = df_station.to_dict(orient='records')

In [9]:
print(data_measure[:3])

[{'station': 'USC00519397', 'date': '2010-01-01', 'prcp': '0.08', 'tobs': '65'}, {'station': 'USC00519397', 'date': '2010-01-02', 'prcp': '0.0', 'tobs': '63'}, {'station': 'USC00519397', 'date': '2010-01-03', 'prcp': '0.0', 'tobs': '74'}]

In [10]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
metadata.reflect()

In [11]:
# Save the reference to the `measurements` & `station` table as a variable called `table_m` & `table_s`
table_m = sqlalchemy.Table('measurements', metadata, autoload=True)
table_s = sqlalchemy.Table('stations', metadata, autoload=True)

In [12]:
 # Use `table.delete()` to remove any pre-existing data.
# Note that this is a convenience function so that you can re-run the example code multiple times.
# You would not likely do this step in production.
conn.execute(table_m.delete())
conn.execute(table_s.delete())

In [13]:
 # Use `table.insert()` to insert the data into the table
# The SQL table is populated during this step
conn.execute(table_m.insert(), data_measure)
conn.execute(table_s.insert(), data_station)

In [15]:
# Test that the insert works by fetching the first 5 rows. 
conn.execute("select * from measurements limit 10").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, None),
 (2, 'USC00519397', '2010-01-02', 0.0, None),
 (3, 'USC00519397', '2010-01-03', 0.0, None),
 (4, 'USC00519397', '2010-01-04', 0.0, None),
 (5, 'USC00519397', '2010-01-07', 0.06, None),
 (6, 'USC00519397', '2010-01-08', 0.0, None),
 (7, 'USC00519397', '2010-01-09', 0.0, None),
 (8, 'USC00519397', '2010-01-10', 0.0, None),
 (9, 'USC00519397', '2010-01-11', 0.01, None),
 (10, 'USC00519397', '2010-01-12', 0.0, None)]

In [ ]:
conn.execute("select * from stations limit 10").fetchall()