In [2]:
 # Import Dependencies
import pandas as pd

In [11]:
# Create a reference the CSV file desired
csv_path = "Resources/hawaii_measurements.csv"

# Read the CSV into a Pandas DataFrame
df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [ ]:
# Count Null value in column prcp
df["prcp"].isnull().sum()